term1/projects/CarSales/.ipynb_checkpoints/*
term1/projects/CarSales/.ipynb_checkpoints
Term5/.ipynb_checkpoints/Project - PropertyInspection - Dhaval Parikh - dhp6106@gmail.com - Term 5-checkpoint.ipynb
.DS_Store
AI Foundation/Sept10RunModels.zip
*.zip
